<div class="flex-container auth-form" fxLayout="column" fxFlex="100%" fxFlex.sm="100%">
    <h2 fxLayout="row" fxLayoutAlign="center" fxFlex="100%">Sign In to MoniNag</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" fxLayout="row" fxLayoutAlign="start center" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email" fxFlex="20%">Email</label>
            <input type="email" fxFlex="80%" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
        </div>
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        <div class="form-group" fxLayout="row" fxLayoutAlign="start center" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password" fxFlex="20%">Password</label>
            <input type="password" fxFlex="80%" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        </div>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        <div class="form-group margin-top-2em" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                Don't have an account yet?&nbsp;&nbsp;
                <a [routerLink]="['/auth/register_user']" class="btn-link">Sign Up</a><br>
                <a [routerLink]="['/auth/reset_password']" class="btn-link">Forgot your password?</a><br>
            </div>
            <button [disabled]="loading" class="btn btn-success">Sign In</button>
        </div>
    </form>
</div>
