@header-height: 100px;

app-header {    
    display: block;
    height: @header-height;
    padding: 5px 10px;
}

#left-block {
    align-items: baseline;
    height: @header-height;
}

#left-block a {
    text-decoration: none;
}

#left-block a:hover,
#left-block a:link,
#left-block a:active,
#left-block a:visited {
    color: inherit;
}

#title {
    align-self: center;
    font-size: 3em;    
    margin: 0 0 0 20px;    
}

#logo-img {
    margin: 5px;
    height: calc(0.9 * @header-height);
}

#user-block img {
    margin-right: 10px;
    max-height: 30px;
    max-width: 30px;
}   
