<div class="container">
    <h2 fxLayout="row" fxLayoutAlign="center" fxFlex="100%">Add Check</h2>
    <form fxLayout="column" fxFlex="100%" #f="ngForm">
        <div fxLayoutWrap class="form-group" fxLayout="row" fxLayoutAlign="start center">
            <label for="name" fxFlex="35%">Name</label>
            <input type="text" class="form-control" placeholder="Check name" required [(ngModel)]="model.name" name="name" fxFlex="65%" #name="ngModel" required="required" minlength="3" maxlength="20" />
            <div fxFlex="100%" *ngIf="name.errors && (name.dirty || name.touched)" class="help-block">
                <div [hidden]="!name.errors.required">
                    Check name is required
                </div>
                <div [hidden]="!name.errors.minlength">
                    Check name must be at least 3 characters long
                </div>
                <div [hidden]="!name.errors.maxlength">
                    Server name cannot be more than 20 characters long
                </div>
            </div>
        </div>
        <div fxLayoutWrap class="form-group" fxLayout="row" fxLayoutAlign="start center">
            <label for="target_port" fxFlex="35%">Target port</label>
            <input type="text" class="form-control" placeholder="i.e. 3000" required [(ngModel)]="model.target_port" name="target_port" fxFlex="65%" pattern={{onlyDigits}} required="required" #port="ngModel" />
            <div fxFlex="100%" *ngIf="port.errors && (port.dirty || port.touched)" class="help-block">
                <div [hidden]="!port.errors.required">
                    Target port name is required
                </div>
                <div [hidden]="!port.errors.pattern">
                    Target port must contain only digits and cannot be more than 5 digits long
                </div>
            </div>
        </div>
        <div class="form-group" fxLayout="row" fxLayoutAlign="start center">
            <label for="run_freq" fxFlex="35%">Run frequency</label>
            <select class="form-control" required [(ngModel)]="model.run_freq" name="run_freq" fxFlex="65%">
                <option value=60>1 min</option>
                <option value=300>5 min</option>
                <option value=900>15 min</option>
                <option value=1800>30 min</option>
                <option value=3600>1 hour</option>
            </select>
        </div>
        <div fxLayoutWrap class="form-group" fxLayout="row" fxLayoutAlign="start center">
            <label for="plugin_id" fxFlex="35%">Plugin</label>
            <select class="form-control" required [(ngModel)]="model.plugin_id" name="plugin_id" fxFlex="65%" #plugin="ngModel" required="required">
                <option *ngFor="let plugin of plugins" [value]="plugin.id">
                    {{plugin.name}}
                </option>
            </select>
            <div fxFlex="100%" *ngIf="plugin.errors && (plugin.dirty || plugin.touched)" class="help-block">
                <div [hidden]="!plugin.errors.required">
                    Plugin name is required
                </div>
            </div>
        </div>
    </form>
    <div class="form-group vex-dialog-buttons margin-top-1em">
        <button [disabled]="!f.form.valid" type="submit" (click)="add(); goBack()" class="btn vex-dialog-button-primary vex-dialog-button">Submit</button>
    </div>
</div>
