<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   required
                   [(ngModel)]="model.name" name="name">
        </div>
        <div class="form-group">
            <label for="target_port">Target port</label>
            <input type="text" 
                   required
                   [(ngModel)]="model.target_port" name="target_port">
        </div>
        <div class="form-group">
            <label for="run_freq">Run frequency</label>
            <select required [(ngModel)]="model.run_freq" name="run_freq">
                <option value=60>1 min</option>
                <option value=300>5 min</option>
                <option value=900>15 min</option>
                <option value=1800>30 min</option>
                <option value=3600>1 hour</option>
            </select>
        </div>
        <div class="form-group">
            <label for="plugin_id">Plugin</label>
            <select required [(ngModel)]="model.plugin_id" name="plugin_id">
                <option *ngFor="let plugin of plugins" [value]="plugin.id">
                    {{plugin.name}}
                </option>
            </select>
        </div>
    </form>
    <button (click)="goBack()">Back</button>
    <button type="submit" (click)="add(); goBack()">Submit</button>
</div>
