<span defaultOverlayTarget></span>
<div *ngIf="check">
    <md-card>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Check Details</h3>
            <md-card-actions>
                <button class="btn btn-info" *ngIf="check.state == true" (click)="openDialog()">Deactivate</button>
                <button class="btn btn-info" *ngIf="check.state == false" (click)="openDialog()">Activate</button>
                <button class="btn btn-info" (click)="renderModal()">Edit</button>
                <button class="btn btn-danger" (click)="deleteModal()">Delete</button>
            </md-card-actions>
        </div>
        <md-card-content>
            <p>
                <label>
                    Name:
                </label>
                {{check.name}}
            </p>
            <p>
                <label>
                    Run frequency:
                </label>
                {{check.run_freq / 60}} min
            </p>
            <p>
                <label>
                    Plugin:
                </label>
                {{check.plugin_name}}
            </p>
            <p>
                <label>
                    Target port:
                </label>
                {{check.target_port}}
            </p>
            <p>
                <label>
                    Last run:
                </label>
                {{check.last_run}}
            </p>
            <p>
                <label>
                    Output:
                </label>
                {{check.output}}
            </p>
            <p>
                <label>
                    Status:
                </label>
                {{check.status}}
            </p>
            <p>
                <label>
                    Active:
                </label>
                {{check.state}}
            </p>
            <div>
                <md-tab-group>
                    <md-tab>
                        <template md-tab-label>Hour</template>
                        <img md-tab-content src="static/img/perfgraphs/hour/check_{{check.id}}.png"/>
                    </md-tab>
                    <md-tab>
                        <template md-tab-label>Day</template>
                        <img md-tab-content src="static/img/perfgraphs/day/check_{{check.id}}.png"/>
                    </md-tab>
                    <md-tab>
                        <template md-tab-label>Week</template>
                        <img md-tab-content src="static/img/perfgraphs/week/check_{{check.id}}.png"/>
                    </md-tab>
                    <md-tab>
                        <template md-tab-label>Month</template>
                        <img md-tab-content src="static/img/perfgraphs/month/check_{{check.id}}.png"/>
                    </md-tab>
                </md-tab-group>
            </div>
        </md-card-content>
    </md-card>
</div>
