<div class="col-md-4 col-md-offset-4">
  <h1>Set your new password</h1>
  <form #f="ngForm" novalidate (ngSubmit)="confirmPasswordReset(f.value, f.valid)">
    <input type="hidden" name="uidb64" [(ngModel)]="model.uidb64" #uidb64="ngModel">
    <input type="hidden" name="token" [(ngModel)]="model.token" #token="ngModel">
    <div class="form-group">
      <label for="">New Password</label>
      <input type="password" class="form-control" name="password" [ngModel]="model.password"
        required validateEqual="confirmPassword" reverse="true" #password="ngModel" [(ngModel)]="model.password">
      <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
        Password is required
      </small>
    </div>
    <div class="form-group">
      <label for="">Retype new password</label>
      <input type="password" class="form-control" name="confirmPassword" [ngModel]="model.confirmPassword"
        required validateEqual="password" reverse="false" #confirmPassword="ngModel">
      <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
        Password mismatch
      </small>
    </div>
    <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
