<div class="col-md-4 col-md-offset-4">
    <h2>Password Reset</h2>
    <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Send me reset password instructions</button>
        </div>
    </form>
</div>
