<div class="flex-container" fxLayoutAlign="space-around center">
    <md-tab-group class="settings-menu-container">
        <md-tab label="Profile">
            <user-profile></user-profile>
        </md-tab>

        <md-tab label="Contacts">
            <h1>In development</h1>
<!--             When contacts will be in dev, uncomment this part. Otherwise 
            it will cause an error.
            <contacts-list></contacts-list> -->
        </md-tab>

        <md-tab label="Plugins">
            <h1>In development</h1>
        </md-tab>

        <md-tab label="Help">
            <md-card>
                <settings-help-app></settings-help-app>
            </md-card>
        </md-tab>
    </md-tab-group>
</div>
