<div class="flex-container" fxLayoutAlign="start center">
    <md-tab-group class="settings-menu-container">
        <md-tab label="Profile">
            <user-profile></user-profile>
        </md-tab>

        <md-tab label="Contacts">
            <contacts-list></contacts-list>
        </md-tab>

        <md-tab label="Plugins">
            <plugins-app></plugins-app>
        </md-tab>

        <md-tab label="Help">
            <md-card>
                <settings-help-app></settings-help-app>
            </md-card>
        </md-tab>
    </md-tab-group>
</div>
