<div class="flex-container" fxLayoutAlign="space-around center">
    <md-tab-group class="settings-menu-container">
        <md-tab label="Profile">
            <user-profile></user-profile>
        </md-tab>

        <md-tab label="Contacts">
            <p>Contacts will be here</p>
        </md-tab>

        <md-tab label="Plugins">
            <h1>Some more tab content</h1>
            <p>...</p>
        </md-tab>

        <md-tab label="Help">
            <md-card>
                <label>If you have some questions, contact us at:</label>
                <a href="mailto:{{ moninaginfo@gmail.com }}">moninaginfo@gmail.com</a>
            </md-card>
        </md-tab>
    </md-tab-group>
</div>
    
<!-- <nav class="flex-container" fxLayout="column" fxLayoutAlign="space-around start">
    <a class="flex-container" fxLayout="column" fxLayoutAlign="space-around start" routerLink="profile" routerLinkActive="active">
        <span>Profile</span>
    </a>

    <a class="flex-container" fxLayout="column" fxLayoutAlign="space-around start" routerLink="contacts" routerLinkActive="active">
        <span>Contacts</span>
    </a>

    <a class="flex-container" fxLayout="column" fxLayoutAlign="space-around start" routerLink="plugins" routerLinkActive="active">
        <span>Plugins</span>
    </a>

    <a class="flex-container" fxLayout="column" fxLayoutAlign="space-around start" routerLink="help" routerLinkActive="active">
        <span>Help</span>
    </a>
</nav>
 -->