<nav class="flex-container" fxLayout="column" fxLayoutAlign="space-around start">
    <a class="flex-container" fxLayout="column" fxLayoutAlign="space-around start" routerLink="profile" routerLinkActive="active">
        <span>Profile</span>
    </a>

    <a class="flex-container" fxLayout="column" fxLayoutAlign="space-around start" routerLink="contacts" routerLinkActive="active">
        <span>Contacts</span>
    </a>

    <a class="flex-container" fxLayout="column" fxLayoutAlign="space-around start" routerLink="plugins" routerLinkActive="active">
        <span>Plugins</span>
    </a>

    <a class="flex-container" fxLayout="column" fxLayoutAlign="space-around start" routerLink="help" routerLinkActive="active">
        <span>Help</span>
    </a>

</nav>
