@import './common/vex/vex.less';
@import './common/vex/vex-theme-default.less';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import './common/variables.less';
@import './common/mixins/mixins.less';
@import './common/forms.less';
@import './common/buttons.less';

html, body {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 100%;
}

moninag-app {
    display: block;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: @body-background;
}

h3 {
    font-size: 2rem;
    margin: 15px 0;
}

.cdk-overlay-container {
    z-index: 2000;
}

.pet-icon {
    position: relative;
    left: -23px;
    top: 17px;
    color: @app-header-motto-color;
    transform: rotate(25deg);
    font-size: 18px;
}

table {
    border-collapse: collapse;
    background: @body-background;
    border: 1px solid #fff;

    th {
        background-color: @app-header-bg-color;
        font-weight: bold;
        color: #fff;
        white-space: nowrap;
    }

    td, th {
        padding: 1em 3.5em;
        text-align: left;
        border: 1px solid #fff;
    }

    tbody tr:nth-child(even) {
        transition: all .125s ease-in-out;
        background-color: #e2e2e2;
    }
    tbody tr:hover {
        background-color: #d9edf7;
    }
}

a {
    color: @app-header-user-bg-color;
    text-decoration: none;
}

.img-circle {
    border-radius: 50%;
}

#side-navigation, .content {
    float: left;
    margin-top: 2em;
}

#side-navigation {
    min-width: 20%;
}

.content {
    width: 80%;
    md-card {
        padding-left: 3rem;
        padding-right: 3rem;

        label {
            font-weight: bold;
        }
    }
}

.box {
    height: 150px;
    width: 250px;
    display: block;
    text-align: center;
    position: relative;
    padding: 1em;
    margin: 0 2em 2em 0;
    background: #f8f8f8;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
    box-sizing: border-box;
    border: 3px solid #ddd;
    border-radius: 9px;
    transition: border-color .5s, background .5s;

    &:hover {
        border-color: #aaa;
        background: #f1f1f1;
    }

    label {
        margin-bottom: 0;
    }
}

.table-responsive {
    tr {
        cursor: pointer;
    }
}

li {
    list-style-type: none;
}



