<div *ngIf="server" class="form-group">

    <label>Server:</label>
    <input [(ngModel)]="server.name" placeholder="{{server.name}}"/>

    <label>Address:</label>
    <input [(ngModel)]="server.address" placeholder="{{server.address}}"/>

    <label>State:</label>
    <select [(ngModel)]="state">
        <option *ngFor="let state of states" value= {{states}}>
            {{state}}
        </option>
    </select>

    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
    <button (click)="delete()">x</button>

    <services-app [server]='server'></services-app>
<div>
