<div>
    <h2 fxLayout="row" fxLayoutAlign="center" fxFlex="100%">Add Server</h2>
    <form fxLayout="column" fxFlex="100%" #f="ngForm">
        <div fxLayoutWrap class="form-group" fxLayout="row" fxLayoutAlign="start center">
            <label for="server-name" fxFlex="20%">Name</label>
            <input id="server-name" class="form-control" type="text" placeholder="Server Name" fxFlex="80%" required="required" minlength="3" maxlength="30" [(ngModel)]="model.name" name="name" #name="ngModel" />
            <div fxFlex="100%" *ngIf="name.errors && (name.dirty || name.touched)" class="help-block">
                <div [hidden]="!name.errors.required">
                    Server name is required
                </div>
                <div [hidden]="!name.errors.minlength">
                    Server name must be at least 3 characters long
                </div>
                <div [hidden]="!name.errors.maxlength">
                    Server name cannot be more than 30 characters long
                </div>
            </div>
        </div>
        <div fxLayoutWrap class="form-group" fxLayout="row" fxLayoutAlign="start center">
            <label for="server-address" fxFlex="20%">Address</label>
            <input id="server-address" pattern={{ip4Address}} class="form-control" type="text" placeholder="Server Address" fxFlex="80%" required="required" [(ngModel)]="model.address" name="address" #address="ngModel" />
            <div fxFlex="100%" *ngIf="address.errors && (address.dirty || address.touched)" class="help-block">
                <div [hidden]="!address.errors.required">
                    Server address is required
                </div>
                <div [hidden]="!address.errors.pattern">
                    Invalid address format
                </div>
            </div>
        </div>
        <div class="form-array" fxLayout="row" fxLayoutAlign="start center">
            <label for="server-state" fxFlex="20%">State</label>
            <select id="server-state" class="form-control" fxFlex="80%" required="required" [(ngModel)]="model.state" name="state">
                <option value='Disabled'>Disabled</option>
                <option value='Production'>Production</option>
                <option value='Staging'>Staging</option>
            </select>
        </div>
        <div class="form-group vex-dialog-buttons margin-top-1em">
            <button [disabled]="!f.form.valid" type="submit" (click)="submitForm(); goBack($event)" class="btn vex-dialog-button-primary vex-dialog-button">Submit</button>
        </div>
    </form>
</div>



