<div>
    <h2 fxLayout="row" fxLayoutAlign="center" fxFlex="100%">Add Server</h2>
    <form [formGroup]="serverForm" (ngSubmit)="submitForm(serverForm.value)" fxLayout="column" fxFlex="100%">
        <div class="form-group" fxLayout="row" fxLayoutAlign="start center">
            <label fxFlex="20%">Name</label>
            <input class="form-control" type="text" placeholder="Server Name" [formControl]="serverForm.controls['name']"fxFlex="80%" required="required">
        </div>
        <div class="form-group" fxLayout="row" fxLayoutAlign="start center">
            <label fxFlex="20%">Address</label>
            <input class="form-control" type="text" placeholder="Server Address" [formControl]="serverForm.controls['address']" fxFlex="80%" required="required">
        </div>
        <div class="form-array" fxLayout="row" fxLayoutAlign="start center">
            <label fxFlex="20%">State</label>
            <select class="form-control" formControlName="state" [formControl]="serverForm.controls['state']" fxFlex="80%" required="required" [(ngModel)]="servers">
                <option *ngFor="let state of states" [value]="state">{{state}}</option>
            </select>
        </div>
        <div class="form-group vex-dialog-buttons margin-top-1em">
            <button type="submit" (click)="goBack($event)" class="vex-dialog-button-primary vex-dialog-button">Submit</button>
        </div>
    </form>
</div>



