<div class="container">
    <h2 fxLayout="row" fxLayoutAlign="center" fxFlex="100%">Edit server</h2>
    <form fxLayout="column" fxFlex="100%">
        <div *ngIf="server">
            <div class="form-group" fxLayout="row" fxLayoutAlign="start center">
                <label fxFlex="20%">Server:</label>
                <input md-input [(ngModel)]="server.name" placeholder="{{server.name}}" fxFlex="80%" class="form-control" name="name">
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start center">
                <label fxFlex="20%">Address:</label>
                <input md-input [(ngModel)]="server.address" placeholder="{{server.address}}" fxFlex="80%" class="form-control" name="address" />
            </div>
            <div class="form-group" fxLayout="row" fxLayoutAlign="start center">
                <label fxFlex="20%">State:</label>
                <select [(ngModel)]="state" placeholder="Choose state" fxFlex="80%" class="form-control" name="state">
                    <option *ngFor="let state of states" value={{states}}>
                    {{state}}
                    </option>
                </select>
            </div>
            <div class="form-group vex-dialog-buttons margin-top-1em">
                <button (click)="save()" class="vex-dialog-button-primary vex-dialog-button">Save</button>
            </div>
        </div>
    </form>
</div>
