<span defaultOverlayTarget></span>
<md-card>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Your Servers</h3>

            <button (click)="onSelect(server)" (click)="renderModal()" class="btn btn-info">Add</button>
        </div>
        <div fxLayoutWrap fxLayout="row" fxLayoutAlign="start center">
            <div class="margin-top-2em" *ngFor="let server of servers">
                <div class="box margin-right-2em" fxLayout="column" (click)="onSelect(server)" (click)="gotoDetail()">
                    <span><label>
                            Name:
                        </label>
                        {{ server.name }}</span>
                    <span><label>
                            Address:
                        </label>
                        {{ server.address }}</span>
                   <span> <label>
                           State:
                       </label>
                       {{ server.state }}</span>
                </div>
            </div>
        </div>

</md-card>

