<div class="container">
    <h2 fxLayout="row" fxLayoutAlign="center" fxFlex="100%">Do u really want to delete this server?</h2>
    <form fxLayout="column" fxFlex="100%">
            <div class="form-group vex-dialog-buttons margin-top-1em">
                <button (click)="delete()" class="vex-dialog-button-primary vex-dialog-button">delete</button>
                <button (click)="goBack()" class="vex-dialog-button-primary vex-dialog-button">back</button>
            </div>
    </form>
</div>
