<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Adress</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><li *ngFor="let server of servers; let i=index">{{i + 1}}</li></td>
        <td><li *ngFor="let server of servers" (click)="onSelect(server)" (click)="gotoEdit()" value={{server.id}}>{{ server.name }}</li></td>
        <td><li *ngFor="let server of servers" (click)="onSelect(server)" (click)="gotoEdit()" value={{server.id}}>{{ server.address }}</li></td>
        <td><li *ngFor="let server of servers" (click)="onSelect(server)" (click)="gotoEdit()" value={{server.id}}>{{server.state}}</li></td>
      </tr>
    </tbody>
  </table>
</div>
<server-add></server-add>
