<div class="container">
    <p fxLayout="row" fxLayoutAlign="center" fxFlex="100%">Do you really want to delete this server?</p>
    <form fxLayout="column" fxFlex="100%">
            <div class="form-group vex-dialog-buttons margin-top-1em">
                <button (click)="delete()" class="vex-dialog-button-primary vex-dialog-button">delete</button>
                <button (click)="goBack()" class="vex-dialog-button-primary vex-dialog-button">back</button>
            </div>
    </form>
</div>
