<div>
    <form [formGroup]="serverForm" (ngSubmit)="submitForm(serverForm.value)">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Server Name" [formControl]="serverForm.controls['name']">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Server Address" [formControl]="serverForm.controls['address']">
        </div>
        <div class="form-array">
            <label>State:</label>
            <select class="form-control" formControlName="state">
                <option *ngFor="let state of states" [value]="state">{{state}}</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" (click)="goBack($event)" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
