<span defaultOverlayTarget></span>
<md-card>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h3>Your Server</h3>
        <md-card-actions>
            <button class="btn btn-info" (click)="renderModal()">Edit</button>
            <button class="btn btn-danger" (click)="deleteModal()">Delete</button>
        </md-card-actions>
    </div>
    <md-card-content>
        <div *ngIf="server" class="form-group">
            <p>
                <label>
                    Name:
                </label>
                {{server.name}}
            </p>
            <p>
                <label>
                    Address:
                </label>
                {{server.address}}
            </p>
            <p>
                <label>
                    State:
                </label>
                {{server.state}}
            </p>
            <services-app [server]='server'></services-app>
        </div>
    </md-card-content>
</md-card>
