<ul class="tree">
    <li *ngFor="let server of servers">
        <label class="tree_label" (click)="gotoServer(server, $event)">{{server.name}}</label>
        <div *ngIf="selectedServer">
            <ul *ngIf="selectedServer.id==server.id">
                <li *ngFor="let service of server.services">
                    <label class="tree_label" (click)="gotoService(service, $event)">{{service.name}}</label>
                    <div *ngIf="selectedService">
                        <ul *ngIf="selectedService.id==service.id">
                            <li *ngFor="let check of service.checks">
                                <label class="tree_label" (click)="gotoCheck(check, $event)">
                                    {{check.name}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>
