<ul class="tree-menu">
    <li *ngFor="let server of servers">
        <label class="tree-label" [ngClass]="{'selected': selectedComponent.id == server.id && selectedComponent.name == server.name, 'no-children': !server.services.length}">
            <span class="tree-label-icon" (click)="toggleExpand(server)">
                <span *ngIf="!server.expanded">
                    +
                </span>
                <span *ngIf="server.expanded">
                    -
                </span>
            </span>
            <span (click)="navigateToComponent(server, 'server', $event)">
                {{server.name}}
            </span>
        </label>
        <div *ngIf="server.expanded">
            <ul>
                <li *ngFor="let service of server.services">
                    <label class="tree-label" [ngClass]="{'selected': selectedComponent.id == service.id && selectedComponent.name == service.name, 'no-children': !service.checks.length}">
                        <span class="tree-label-icon" (click)="toggleExpand(service)">
                            <span *ngIf="!service.expanded">
                                +
                            </span>
                            <span *ngIf="service.expanded">
                                -
                            </span>
                        </span>
                        <span (click)="navigateToComponent(service, '/services', $event)">
                            {{service.name}}
                        </span>
                    </label>
                    <div *ngIf="service.expanded">
                        <ul>
                            <li *ngFor="let check of service.checks">
                                <label class="tree-label no-children" (click)="navigateToComponent(check, 'checks', $event)" [ngClass]="{'selected': selectedComponent.id == check.id && selectedComponent.name == check.name}">
                                    {{check.name}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>
