<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Moninag</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="static/lib/Rx.min.js"></script>
    <script src="static/lib/zone.min.js"></script>
    <script src="static/lib/Reflect.js"></script>
    <script src="static/lib/hammer.min.js"></script>

    {% block jsApp %}
        <script async="" src="static/js/source_app.js"></script>
    {% endblock %}

</head>
<body>
    {% block content %}
        <moninag-app></moninag-app>
    {% endblock %}
</body>
</html>
