/*@import "../../../common/variables.less";*/

.box {
    height: 70px;
    width: 150px;
    background-color: rgba(80, 100, 170, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding: 1em;
    margin: 2em 10px 4em;
    background: #fff;
}
ul {
    list-style-type: none;
}
