<div class="container">
    <h2 fxLayout="row" fxLayoutAlign="center" fxFlex="100%">Add Service</h2>
    <form fxLayout="column" fxFlex="100%">
        <div class="form-group" fxLayout="row" fxLayoutAlign="start center">
            <label for="name" fxFlex="20%">Name</label>
            <input placeholder="Service name" class="form-control" type="text" fxFlex="80%" required [(ngModel)]="model.name" name="name">
        </div>
    </form>
    <div class="form-group vex-dialog-buttons margin-top-1em">
        <button type="submit" (click)="add(); goBack()" class="vex-dialog-button-primary vex-dialog-button">Save</button>
    </div>
</div>
