<h3>Service Details</h3>
<div *ngIf="service">
    <md-card>
        <md-card-content>
            <div>
                <label>Name:</label>{{service.name}}
            </div>
            <div>
                <label>Status:</label>{{service.status}}
            </div>
            <div>
                <label>State:</label>{{service.state}}
            </div>
        </md-card-content>
        <md-card-actions>
            <button (click)="delete()">Delete</button>
        </md-card-actions>
    </md-card>
    <checks-list [service]='service'></checks-list>
</div>