<span defaultOverlayTarget></span>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <h3>Services</h3>
    <button class="btn btn-info" (click)="renderModal()"> Add new service </button>
</div>

<div>
    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="server">
        <div class="box" *ngFor="let service of server.Services"
            (click)="onSelect(service)" (click)="gotoDetail()">
            <p>{{service.name}}</p>
            <p>{{service.status}}</p>
        </div>
    <div>
</div>
